body.single-jobs #primary.content-area,
body.single-jobs .single-content {
    margin-top: 0;
}

body.single-jobs #primary.content-area .single-content > .kb-row-layout-wrap:first-of-type > .kt-row-column-wrap {
    padding-top: 0;
}

body.single-jobs #job-sidebar,
body.single-jobs #job-footer {
    display: none;
}